@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #41295a, #2f0743);

    --background: 286 24.05% 2.08%;
    --foreground: 286 3.7% 96.3%;

    --muted: 286 18.5% 7.800000000000001%;
    --muted-foreground: 286 3.7% 52.6%;

    --popover: 286 57.6% 3.38%;
    --popover-foreground: 286 3.7% 96.3%;

    --card: 286 57.6% 3.38%;
    --card-foreground: 286 3.7% 96.3%;

    --border: 286 18.5% 7.800000000000001%;
    --input: 286 18.5% 7.800000000000001%;

    --primary: 286 37% 26%;
    --primary-foreground: 286 3.7% 96.3%;

    --secondary: 286 18.5% 7.800000000000001%;
    --secondary-foreground: 286 3.7% 96.3%;

    --accent: 286 18.5% 7.800000000000001%;
    --accent-foreground: 286 3.7% 96.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 286 3.7% 96.3%;

    --ring: 286 37% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
